.verification-modal .redeem-modal-inner {
  border-radius: 50px;
}
.verification-modal .modal-content {
  padding: 35px 44px;
}
.verification-modal h2 {
  font-size: 22px;
  padding: 25px 0px;
  font-weight: bold;
}
.verification-modal button {
  width: 180px;
  background: #1b3142;
  border-radius: 8px 8px 25px 25px;
  box-shadow: 30px 70px 120px rgba(27, 49, 66, 0.13);
  margin-bottom: 48px;
  margin-top: 10px;
}
.verify-button {
  padding: 6px 25px;
  border: 0.25px solid #090909;
  border-radius: 23px;
  opacity: 1;
}

.btnbtn_blck {
  background: #000;
  border-radius: 10px 10px 10px 50px !important;
  opacity: 1;
  color: #fff;
  width: 150px;
  height: 40px;
  font-weight: bold;
  padding: 8px 20px 8px 20px;
}
