.cat_selected {
  background-color: black;
  color: white;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  /* font-size: 27px; */
  line-height: 1;
  opacity: 0.75;
  color: #000000;
  /* background: black; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-slide {
  padding-right: 9px;
  padding-left: 9px;
}

.clubrare_dropdown > button {
  background-color: #fff !important;
  border: 1px solid #cfcfcf !important;
  width: 113px !important;
  height: 43px !important;
  border-radius: 30px !important;
}
.clubrare_dropdown_sort > button {
  background-color: #fff !important;
  border: 1px solid #cfcfcf !important;
  width: 50px !important;
  height: 43px !important;
  border-radius: 30px !important;
}
.clubrare_dropdown_sort > button > h6 {
  font-weight: bold;
}
.clubrare_dropdown_option {
  border-radius: 20px;
  box-shadow: rgb(4 4 5 / 20%) 0px 7px 36px -8px !important;
  border: none;
  overflow-x: none;
  scrollbar-width: 0px;
  overflow: hidden;
}
.clubrare_dropdown_lable {
  border-radius: 10px;
}
.clubrare_dropdown_lable > label {
  font-size: 13px !important;
  font-weight: bold;
  cursor: pointer;
}
.clubrare_dropdown_lable:hover {
  background-color: rgba(240, 240, 240, 0.603);
}
.clubraredroplist_wrp .slick-slider {
  width: 98%;
  margin: 0 auto;
}
.clubraredrop_page_heading > img {
  margin-left: 10px;
}
.clubdrop_page_card_wrp .clubraredroplist_wrp {
  padding-top: 15px;
}
.clubraredrop_page_wrp
  .w-full.py-6.flex.items-center.justify-center.flex-row.md\:flex-col {
  margin-bottom: 150px;
}

@media only screen and (max-width: 1199px) {
  .clubraredrop_page_wrp
    .grid.grid-cols-4.gap-y-8.gap-x-8.md\:gap-x-8.maxgridcardwrp {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0 15px;
  }
  .club_expl_filt_main_head
    .text-16.lg\:text-22.text-blue.font-semibold.ml-4.lg\:mr-5.xl\:mr-8\.5 {
    margin: 0 !important;
  }
  main.main-container.w-full.pb-40.lg\:pb-4.lg\:pt-10.clubraredrop_page_wrp.connact_wallet_wrp.home_page_wrp {
    padding: 0;
  }
  .clubraredrop_page_wrp
    .club_expl_filt_main_head
    .text-16.lg\:text-22.text-blue.font-semibold.ml-4.lg\:mr-5.xl\:mr-8\.5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
} /* 980 */
@media only screen and (max-width: 979px) {
  .clubraredrop_page_wrp
    .grid.grid-cols-4.gap-y-8.gap-x-8.md\:gap-x-8.maxgridcardwrp {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 15px 0 0;
  }
  main.main-container {
    margin-top: 15px;
  }
  .clubraredrop_page_wrp
    .col-9.d-flex.club_expl_all_filt_wrp.justify-content-end {
    flex: unset;
    max-width: 100%;
    justify-content: flex-start !important;
    padding: 5px 0 0;
  }
  .clubraredrop_page_wrp .club_expl_filt_wrp.club_expl_sort_by_wrp {
    top: -70%;
  }
  .clubraredrop_page_wrp .club_expl_filt_main_head .col-3.pl-0 {
    max-width: 100%;
    flex: unset;
  }
} /* 768 */
@media only screen and (max-width: 767px) {
} /* 650 */
@media only screen and (max-width: 649px) {
  .clubraredroplist_wrp > div {
    width: 85%;
  }
  .newhome_page_wrp .clubraredroplist_wrp .slick-slider {
    width: 100%;
    margin: 0 !important;
  }
  .clubraredroplist_wrp > div {
    width: 85%;
  }
  .clubraredrop_page_wrp
    .grid.grid-cols-4.gap-y-8.gap-x-8.md\:gap-x-8.maxgridcardwrp {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0 30px 0 0;
  }
  .clubraredroplist_wrp > div {
    width: 100%;
  }
}
/* 480 */
@media only screen and (max-width: 479px) {
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */

/* .clubdrop_page_card_wrp .text-18.md\:text-24.text-blue.font-semibold { display: block } */
